- @products.order('created_at DESC').where(brand_id: 3).limit(4).each do |product|
  .middle-product
    %a{href: "/products/#{product.id}"}
      .middle-product__image
        - if product.images.present?
          = image_tag("#{product.images.first.image}", size: "200x200")
      .middle-product__description
        .middle-product__description__message
          = product.name
        .middle-product__description__value
          %p.middle-product__description__value__money
            = "¥" + product.price.to_s(:delimited, delimiter: ',')