.information-registration-header
  =link_to image_tag("logo_horizontal.png",class: "img"),root_path
.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      新規会員登録
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__social__link-box
        .information-registration__base__main-box__click-area__social__link-box__configuration
          .information-registration__base__main-box__click-area__social__link-box__configuration__social__mail
            %i.fa.fa-envelope
            = link_to 'メールアドレスで登録する',new1_signup_index_path
          .information-registration__base__main-box__click-area__social__link-box__configuration__social__facebook
            %i.fab.fa-facebook
            = link_to 'facebookで登録する',user_facebook_omniauth_authorize_path, method: :post
          .information-registration__base__main-box__click-area__social__link-box__configuration__social__google
            = link_to 'Googleで登録する',user_google_oauth2_omniauth_authorize_path, method: :post
            = image_tag "google.svg",class: "google"
= render partial: "form-footer"
            
