= render partial: "header"
.wrapper2
  .circle
    .circle__message
      = "出品"
    .circle__awesome
      = link_to "#" do
        %i.fa.fa-camera
.both
  .wrapper
    = render partial: "mypage-left"
    .payment
      .payment-input
        = "クレジットカード情報入力"
      %hr.horizontal
      .middle-payment
        .card-number-box
          .card-number
            = "カード番号"
          .required
            = "必須"
        .form
          = form_with url: root_path, method: :get, local: true do |f|
            .form-group
              = f.text_field :search, placeholder: "半角数字のみ" , class: 'form-control'
        .personal-card
          .display-card
            .display-card__logo-visa
              = image_tag "visa.svg", size: "40x20"
            .display-card__logo-master
              = image_tag "master-card.svg", size: "40x20"
            .display-card__logo-saison
              = image_tag "saison-card.svg", size: "40x20"
            .display-card__logo-jcb
              = image_tag "jcb.svg", size: "40x20"
            .display-card__logo-american
              = image_tag "american_express.svg", size: "40x20"
            .display-card__logo-diners
              = image_tag "dinersclub.svg", size: "40x20"
            .display-card__logo-discover
              = image_tag "discover.svg", size: "40x20"
        .expiration-date-box
          .expiration-date
            = "有効期限"
          .required
            = "必須"
        .expiration-date-both
          .selectWrap
            %select.month-box
              %option 01
              %option 02
              %option 03
              %option 04
              %option 05
              %option 06
              %option 07
              %option 08
              %option 09
              %option 10
              %option 11
              %option 12
          .month
            = "月"
          .selectWrap
            %select.year-box
              %option 19
              %option 20
              %option 21
              %option 22
              %option 23
              %option 24
              %option 25
              %option 26
              %option 27
              %option 28
              %option 29
          .year
            = "年"
        .security-code-box
          .security-code
            = "セキュリティコード"
          .required
            = "必須"
        .form
          = form_with url: root_path, method: :get, local: true do |f|
            .form-group
              = f.text_field :search, placeholder: "カード背面4桁もしくは3桁の番号" , class: 'form-control'
        .about-back-number
          = link_to root_path, class: "link-p" do
            %i.fa.fa-question-circle
            カード裏面の番号とは？
        .add-card
          = link_to root_path, class: "link-a" do
            追加する
= render partial: "footer"
