= render partial: "header"
.wrapper2
  .circle
    .circle__message
      = "出品"
    .circle__awesome
      = link_to "#" do
        %i.fa.fa-camera
.both
  .wrapper
    = render partial: "mypage-left"
    .payment
      .payment-way
        = "支払い方法"
      %hr.horizontal
      .middle-payment
        .card-list
          = "クレジットカード一覧"
        .add-card
          = link_to root_path, class: "link-a" do
            %i.fa.fa-credit-card
            クレジットカードを追加する
      .lower-payment
        %hr.horizontal
        .about-pay
          = link_to root_path, class: "link-b" do
            支払い方法について
            %i.fa.fa-chevron-right
= render partial: "footer"
