.payment
  .payment-way
    = "支払い方法"
  %hr.horizontal
  .middle-payment
    .card-list
      = "クレジットカード一覧"
    .personal-card
      .display-card
        .display-card__logo
          = image_tag "master-card.svg", size: "40x20"
        .display-card__number
          = "************0314"
        .display-card__deadline
          = "03 / 20"
      .destroy-card
        = link_to "削除する", root_path, class: "link-d"
  .lower-payment
    %hr.horizontal
    .about-pay
      = link_to root_path, class: "link-p" do
        支払い方法について
        %i.fa.fa-chevron-right