= render partial: "products/header"
= render partial: "exhibit_button"
.both
  .wrapper
    .mypage-size
      = render partial: "users/mypage-left"
      - if @user.wallet.present?
        = render partial: 'registration-list'
      - else
        = render partial: 'registration'

= render partial: "products/footer"
