%header.header
  .header__content
    .header__content__up
      = link_to image_tag('logo.svg',class: "logo"),root_path
      = form_tag search_products_path,method: 'get',class: "header-form", method: 'get'  do
        %i.fa.fa-search

        = text_field_tag :search,params[:search],class: "header-field",placeholder: "何かお探しですか？"   
        = submit_tag 'Search', :name => nil,class: "hidden"
    .header__content__down
      .header__content__down__left
        %i.fa.fa-list-ul
        %ul.header__content__down__left__ddmenu-start
          %li
            =link_to "カテゴリーから探す",root_path
          %ul.header__content__down__left__ddmenu-start__parent
            - @parents.each do |parent|
              %li.parent
                = link_to "#{parent.name}","#{parent.id}",class:"catemain"
                %ul.header__content__down__left__ddmenu-start__parent__child
                  - parent.children.each do |child|
                    %li.child
                      = link_to "#{child.name}", '#', class:"catesub"
                      %ul.header__content__down__left__ddmenu-start__parent__child__grand
                        - child.children.each do |grandchild|
                          %li
                            = link_to "#{grandchild.name}",'#'
        %i.fa.fa-tags
        %ul.header__content__down__left__brand
          %li
            =link_to "ブランドから探す",root_path
          %ul.header__content__down__left__brand__list
            %li.list
              =link_to "シャネル",root_path
            %li
              =link_to "ナイキ",root_path
            %li
              =link_to "ルイ ヴィトン",root_path
            %li
              =link_to "シュプリーム",root_path
            %li
              =link_to "アディダス",root_path
            %li
              =link_to "ブランド一覧",root_path
      .header__content__down__right
      - if user_signed_in?
        %ul.header__content__down__right__signin
          %li.fa.fa-bell-o
            =link_to "お知らせ",root_path,class: "bell-text"
          %li.fa.fa-check
            =link_to "やることリスト",root_path,class: "check-text"
          %li.profile-content
            =link_to "マイページ",user_path(current_user.id)
          %li=link_to image_tag('profile.png',class: "profile"),root_path        
      - else
        %ul.header__content__down__right__notsignin
          .header__content__down__right__notsignin__new
            %li=link_to "新規会員登録",new_user_registration_path,class: "new"
          .header__content__down__right__notsignin__login
            %li=link_to "ログイン",new_user_session_path,class: "login"
          
            
          
        
        

             
        
     
