.confirmation-container
  .confirmation-container__image
    = link_to image_tag("logo.svg",class: "logo"),root_path
  .confirmation-container__content
    %h2
      購入内容の確認
    %hr
    .confirmation-container__content__block
      .confirmation-container__content__block__item
        = image_tag "kutu.jpg", class: "item-icon"
        = @product.name
      .confirmation-container__content__block__form
        ¥
        = @product.price
        %p.small-font 送料込み
      .confirmation-container__content__block__form2
        =link_to "ポイントはありません",root_path
      .confirmation-container__content__block__form3
        %p 支払い金額
        .price-font 
          ¥
          = @product.price
      .confirmation-container__content__block__form4
        -# = form_with url: pay_products_path do
        = form_tag(action: :pay, method: :post) do
          %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => 'pk_test_bd8507bffbc91664686778aa'}
    %hr
    .confirmation-container__content__shipping-address
      %h4 配送先
      %p 〒郵便番号
      %p 住所
      %p 名前
      .confirmation-container__content__shipping-address__editbutton
        =link_to "変更する",root_path
        =link_to "",root_path,class:"fa fa-angle-right"
    %hr
    .confirmation-container__content__credit
      %h4 支払い方法
      %p クレジット情報
      .confirmation-container__content__credit__editbutton
        =link_to "変更する",root_path
        =link_to "",root_path,class:"fa fa-angle-right"
  = render partial: "devise/registrations/form-footer"  
