= render partial: "header"
.edit-container 
  .edit-container__content
    %h1=@products.name
    .edit-container__content__flex
      .edit-container__content__flex__left
        ああ
      .edit-container__content__flex__right
        %table
          %tbody
            %tr
              %th 出品者
              %td 
                %p= link_to  "#{@products.user.nickname}",root_path
                
            %tr
              %th カテゴリー
              %td 
             
                %p aaaaa
            %tr
              %th ブランド
              %td=@products.brand_id
            %tr
              %th 商品のサイズ
              %td=@products.size_id
            %tr
              %th 商品の状態
              %td=@products.condition_id
            %tr
              %th 配送料の負担
              %td aaaaaa
            %tr
              %th 配送の方法
              %td aaaaaaa
            %tr
              %th 配送元地域
              %td=@products.postage_id
            %tr
              %th 発送日の目安
              %td aaaaaaaaa
    .edit-container__content__price     
      %span.price-left 
        ¥
        =@products.price
      %span.price-right (税込)
      %span.price-right-postage 送料込み
      
    .edit-container__content__text
      %p=@products.description 



  .edit-container__edit-content
    .edit-container__edit-content__btn
      = link_to  "商品の編集",product_edit_user_product_path(current_user,@products),class: "link"
    %p or
    .edit-container__edit-content__btn
      = link_to  "出品を再開する",root_path,class: "link"
    .edit-container__edit-content__btn-delete
      %button#modal-open-btn この商品を削除する
      = link_to  "",user_product_path(@products),method: :delete,id: 'item-delete-btn'
      #overlay
        #modalWindow
          .modal-message-box
            %p.bold  確認
            %p  削除すると二度と復活できません。
            %p  削除する代わりに停止することもできます。
            %p.realy 本当に削除しますか？
          %button#modal-close-btn キャンセル
          %button#delete-comformation-btn 削除する
  .edit-container__edit-content
    .edit-container__edit-content__comment
      .edit-container__edit-content__comment__text
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります
      = form_for root_path do |f|
        = f.text_field :comment, class: 'container__content__comment__field'
        = f.submit 'コメントする', class: 'container__content__comment__submit'
  %p.edit-container__margin
= render partial: "footer"