= render partial: "header"
-# 特集ページ
.wrapper
  .feature
    = image_tag "index_keyvisual.png", size: "700x380"
-# 出品ボタン
.wrapper2
  .circle
    .circle__message
      = "出品"
    .circle__awesome
      = link_to "products/new" do
        %i.fa.fa-camera
-# 商品一覧
.wrapper3
  .upper-category
    = "人気のカテゴリー"
  .lower-category
    .lower-category__ladies
      = "レディース"
    .lower-category__mens
      = "メンズ"
    .lower-category__home
      = "家電・スマホ・カメラ"
    .lower-category__toy
      = "おもちゃ・ホビー・グッズ"
.wrapper4
  .product
    .upper-product
      .left-product
        = "レディース新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

  .product
    .upper-product
      .left-product
        = "メンズ新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

  .product
    .upper-product
      .left-product
        = "家電・スマホ・カメラ新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

  .product
    .upper-product
      .left-product
        = "おもちゃ・ホビー・グッズ新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

.wrapper5
  .upper-category
    = "人気のブランド"
  .lower-category
    .lower-category__ladies
      = "シャネル"
    .lower-category__mens
      = "ルイヴィトン"
    .lower-category__home
      = "シュプリーム"
    .lower-category__toy
      = "ナイキ"
.wrapper6
  .product
    .upper-product
      .left-product
        = "シャネル新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

  .product
    .upper-product
      .left-product
        = "ルイヴィトン新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

  .product
    .upper-product
      .left-product
        = "シュプリーム新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

  .product
    .upper-product
      .left-product
        = "ナイキ新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

= render partial: "footer"