= render partial: "header"
-# 特集ページ
.wrapper
  .feature.owl-carousel
    =link_to image_tag("top-banner-camp.jpg")
    =link_to image_tag("top-banner.jpg")
    =link_to image_tag("top-banner-main.jpg")
-# 出品ボタン
.wrapper2
  .circle
    .circle__message
      = "出品"
    .circle__awesome
      = link_to "#" do
        %i.fa.fa-camera
-# 商品一覧
.wrapper3
  .upper-category
    = "人気のカテゴリー"
  .lower-category
    .lower-category__ladies
      = link_to "レディース","#ladies"
    .lower-category__mens
      = link_to "メンズ","#mens"
    .lower-category__home
      = link_to "家電・スマホ・カメラ","#camera"
    .lower-category__toy
      = link_to "おもちゃ・ホビー・グッズ","#toy"
.wrapper4
  .product#ladies
    .upper-product
      .left-product
        = "#{Category.find(1).name}新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card"
    .middle-product-set

  .product#mens
    .upper-product
      .left-product
        = "#{Category.find(219).name}新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card2"
    .middle-product-set

  .product#camera
    .upper-product
      .left-product
        = "#{Category.find(983).name}新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card3"
    .middle-product-set

  .product#toy
    .upper-product
      .left-product
        = "#{Category.find(748).name}新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/top_page/post-card4"
    .middle-product-set

.wrapper5
  .upper-category
    = "人気のブランド"
  .lower-category
    .lower-category__ladies
      = link_to "シャネル","#chanel"
    .lower-category__mens
      = link_to "ルイヴィトン","#vuitton"
    .lower-category__home
      = link_to "シュプリーム", "#supreme"
    .lower-category__toy
      = link_to "ナイキ","#nike"
.wrapper6
  .product#chanel
    .upper-product
      .left-product
        = "シャネル新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/brand/post-card5"
    .middle-product-set

  .product#vuitton
    .upper-product
      .left-product
        = "ルイヴィトン新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/brand/post-card6"
    .middle-product-set

  .product#supreme
    .upper-product
      .left-product
        = "シュプリーム新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/brand/post-card7"
    .middle-product-set

  .product#nike
    .upper-product
      .left-product
        = "ナイキ新着アイテム"
      .right-product
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .middle-product-set
      = render "shared/brand/post-card8"
    .middle-product-set

= render partial: "footer"