.sell
  .sell__header
    %h1
      = link_to root_path do
        = image_tag "logo.svg", size: "185x90"

  .sell__main
    .sell__main__container
      %h2.single-head
        商品の情報を入力
    = form_with model: [@products], html: {class: "sell-form dropzone", id: "item-dropzone"}, local: true do |f|
      .sell-content
        .form-group
          = f.label :name, "商品名"
          %span.form-require 必須
          %div
            = f.text_field :name, class: "input-default", placeholder: "商品名(必須 40文字まで)"
        .form-group
          = f.label :description, "商品の説明"
          %span.form-require 必須
          %div
            = f.text_area :description, class: "textarea-default", placeholder: "商品の説明（必須 1000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .sell-content.clearfix
        %h3.sell-sub-head 商品の詳細
        .sell-form-box
          .sell-form-box__right
            .form-group
              = f.label :ancestry, "カテゴリー"
              %span.form-require 必須
              %div
                .select-wrap
                  = f.collection_select :category_id, @category_parent, :id, :name, {prompt: '---'}, {class: "select-wrap__defaultcategory"}
                  %i.fa.fa-angle-down
                .select-wrap-child
                  %select{class:"select-wrap-child__defaultcategory-child"}
                    %option{value: "0"} ---
                    - @category_children.each do |child|
                      %option{value: "#{child.parent.id}"}
                        =child.name
                  %i.far.fa-angle-down.childfa
                .select-wrap-grandchild
                  %select{class:"select-wrap-grandchild__defaultcategory-grandchild"}
                    %option{value: "0"} ---
                    - @category_gchildren.each do |grandchild|
                      %option{value: "#{grandchild.id}"}
                        =grandchild.name
                  %i.far.fa-angle-down.grandfa

            .form-group.top-margin
              = f.label :size_id, "サイズ"
              %span.form-require 必須
              %div
                .select-wrap
                  = f.collection_select :size_id, Size.all, :id, :name, {}, {class: "select-wrap__defaultcategory"}
                  %i.fa.fa-angle-down
            .form-group.top-margin
              = f.label :brand_id, "ブランド"
              %span.form-optional 任意
              %div
                .select-wrap
                  = f.collection_select :brand_id, Brand.all, :id, :name, {}, {class: "select-wrap__defaultcategory"}
                  %i.fa.fa-angle-down
            .form-group.top-margin
              = f.label :condition_id, "商品の状態"
              %span.form-require 必須
              %div.clearfix
                .select-wrap
                  = f.collection_select :condition_id, Condition.all, :id, :name, {}, {class: "select-wrap__defaultcategory"}
                  %i.fa.fa-angle-down
      .sell-content.clearfix
        %h3.sell-sub-head 配送について
        =link_to "#", class: 'form--question' do
          ?
        .sell-form-box
          .form-group
            = f.label :postage_id, "配送料の負担"
            %span.form-require 必須
            %div
              .select-wrap
                = f.collection_select :postage_id, Postage.all, :id, :name, {}, {class: "select-wrap__defaultcategory", id: "postage"}
                %i.fa.fa-angle-down
          .form-group.top-margin
            %div.shipping_method
              = f.label :shipping_method_id, "配送の方法"
              %span.form-require 必須
              %div
                .select-wrap
                  = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name, {}, {class: "select-wrap__defaultcategory"}
                  %i.fa.fa-angle-down
          .form-group.top-margin
            = f.label :prefecture_id, "発送元の地域"
            %span.form-require 必須
            %div
              .select-wrap
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, {class: "select-wrap__defaultcategory"}
                %i.fa.fa-angle-down
          .form-group.top-margin
            = f.label :shipping_date_id, "発送までの日数"
            %span.form-require 必須
            %div
              .select-wrap
                = f.collection_select :shipping_date_id, Shipping.all, :id, :name, {}, {class: "select-wrap__defaultcategory"}
                %i.fa.fa-angle-down
      .sell-content.clearfix
        %h3.sell-sub-head 販売価格(300~9,999,999)
        =link_to "#", class: 'form--question' do
          ?
        .sell-form-box
          %ul.sell-price
            %li.form-group
              .clearfix
                = f.label :price, "価格", class: "l-left"
                %span.form-require 必須
                .l-right.sell-price-input
                  ¥
                  %div.sell-price-input__form
                    = f.text_field :price,  placeholder: "例）300", class: "input--price__default"
            %li.clearfix
              .l-left
                .small
                  販売手数料（10%）
                %input(type= "text"){style: "display: none", id: "price2"}

              .l-right3

            %li.clearfix.bold
              .l-left
              販売利益
              %input(type= "text"){style: "display: none", id: "price"}
              .l-right2
      .modal{role: "dialog", tabindex: "--1"}
        .modal--inner
      .sell-content.sell-btn-box
        %div
          %p
            = link_to "#" do
              禁止されている出品
            、
            = link_to "#" do
              行為
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "#" do
              偽ブランドの販売
            は犯罪であり処罰される可能性があります。
          %p
            また出品をもちまして
            = link_to "#" do
              加盟店規約
            に同意したことになります。
          .actions
            = f.submit "変更する", class: "btn--red"
        = link_to "もどる", root_path, class: "btn-default btn--gray"

  .sell__footer
    %nav.single--footer__nav
      %ul.single--footer__nav__ul
        %li.single--footer__nav__ul__li
          =link_to "#" do
            プライバシーポリシー
        %li.single--footer__nav__ul__li
          =link_to "#" do
            メルカリ利用規約
        %li.single--footer__nav__ul__li
          =link_to "#" do
            特定商取引に関する表記
    %h1
      = image_tag "logo-gray.svg", size: "80x65"
    %p
      %small © 2019 Mercari