= render partial: "header"
.container 
  .container__content
    %h1 #{@products.name}
    .container__content__flex
      .container__content__flex__left
        .container__content__flex__left__slider

          %ul#slider
            - @images.each do |image|
              %li.slide-item
                = image_tag image.image_url

          %ul#thumbnail-list
            - @images.each do |image|
              %li.thumbnail-item
                = image_tag image.image_url
      
      .container__content__flex__right
        %table
          %tbody
            %tr
              %th 出品者
              %td  
                =link_to "#{@products.user.nickname}",user_path(@products.user.id)
                %p
                .ratings
                  .ratings__good
                    %i.fa.fa-grin
                    %span  125
                  .ratings__okay
                    %i.fas.fa-meh
                    %span  5
                  .ratings__soso
                    %i.fa.fa-frown-o
                    %span  0
            %tr
              %th カテゴリー
              %td 
                =link_to "#" do
                  = "#{@products.category.name}"
             
            %tr
              %th ブランド
              %td 
                =link_to"#{@products.brand.name}",root_path
            %tr
              %th 商品のサイズ
              %td #{@products.size.name}
            %tr
              %th 商品の状態
              %td #{@products.condition.name}
            %tr
              %th 配送料の負担
              %td #{@products.postage.name}
            %tr
              %th 配送の方法
              %td #{@products.shipping_method.name}
            %tr
              %th 配送元地域
              %td 
                =link_to"#{@products.prefecture.name}",root_path
            %tr
              %th 発送日の目安
              %td  #{@products.shipping_date.name}
    .container__content__price     
      %span.price-left ¥#{@products.price}
      %span.price-right (税込)
      %span.price-right-postage 送料込み
      .container__content__price__btn-buy
        - if user_signed_in?
          = link_to  "購入画面に進む",confirmation_product_path,class: "link"
        -else
          = link_to  "購入画面に進む",new_user_session_path,class: "link"
    .container__content__text

      %p #{@products.description}
     
    %span.like-button
      %i.fa.fa-heart
        = link_to  "いいね!",root_path
    %span.report
      %i.fa.fa-flag
      = link_to  "不適切な商品の報告",root_path
    %span.security
      %i.fa.fa-lock
      = link_to  "あんしん・あんぜんへの取り組み",root_path
  .container__content
    .container__content__comment
      .container__content__comment__text
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります
      = form_for root_path do |f|
        = f.text_field :comment, class: 'container__content__comment__field'
        = f.submit 'コメントする', class: 'container__content__comment__submit'
  .container__link-button
    .container__link-button__left 
      %i.fa.fa-angle-left
      = link_to  "カステルバジャック クラッチバッグ セカンドバッグ(美品)",root_path
    .container__link-button__right
      = link_to  "NEW！【no .03】☆特殊フレーム印刷☆フルダイヤモンドアート",root_path
      %i.fa.fa-angle-right
  .container__content
    .container__content__sns
      = link_to root_path do
        %i.fab.fa-facebook
      = link_to root_path do  
        %i.fab.fa-twitter
      = link_to root_path do
        %i.fab.fa-pinterest
        
  .container__product
    %h3=link_to "#{@products.user.nickname}さんのその他の出品",root_path
    .container__product__side
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "huku.jpg",class: "images"
          %p ジャ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o 
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "huku.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "huku.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o
    .container__product__side
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "huku.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o 
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "huku.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "huku.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o
      
    
  .container__product
    %h3=link_to "ビューティ&amp;ユース ユナイテッドアローズのタンクトップ その他の商品",root_path
    .container__product__side
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "kutu.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o 
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "kutu.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "kutu.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o
    .container__product__side
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "kutu.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o 
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "kutu.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o
      .container__product__side__colum
        .container__product__side__colum__text
          = image_tag "kutu.jpg",class: "images"
          %p ジャーナルスタンダード カゴバッグ
        .container__product__side__colum__colum-flex
          .colum-price ¥2.300
          %i.fa.fa-heart-o
  %hr.footer-hr
= render partial: "footer"