<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>FreemarketSample57b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pay.jp/" type="text/javascript"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
